/*!
 * reveal.js
 * http://lab.hakim.se/reveal-js
 * MIT licensed
 * custom theme by matthew scherer
 * Copyright (C) 2017 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * custom overrides for styles
 *********************************************/

.reveal section img { background:none; border:none; box-shadow:none; }

.reveal h5 {
  font-size: .75em; 
  font-weight: 100;
  text-transform: none;
}

