<section class="slide level1">

<p>GOVT 101: The Federalist Papers, 1, 9, 10, 51</p>
</section>
<section id="publius-famously-says" class="slide level1">
<h1>Publius famously says,</h1>
<p>But what is government itself, but the greatest of all reflections on human nature? If men were angels, no government would be necessary. If angels were to govern men, neither external nor internal controls on government would be necessary. In framing a government which is to be administered by men over men, the great difficulty lies in this: you must first enable the government to control the governed; and in the next place oblige it to control itself.</p>
</section>
<section id="wrapping-up-rousseau-equality" class="slide level1">
<h1>Wrapping up Rousseau: equality</h1>
<p>“I shall end this chapter and this book by remarking on a fact on which the whole social system should rest: i.e., that, instead of destroying natural inequality, the fundamental compact substitutes, for such physical inequality as nature may have set up between men, an equality that is moral and legitimate, and that men, who may be unequal in strength or intelligence, become every one equal by convention and legal right.”</p>
</section>
<section id="book-ii-7-the-legislator" class="slide level1">
<h1>book II, 7, the legislator</h1>
<p>In order to discover the rules of association that are most suitable to nations, a superior intelligence would be necessary who could see all the passions of men without experiencing any of them; who would have no afnity with our nature and yet know it thoroughly; whose happiness would not depend on us, and who would nevertheless be quite willing to interest himself in ours; and, lastly, one who, storing up for himself with the progress of time a far-off glory in the future, could labor in one age and enjoy in another.* Gods would be necessary to give laws to men.</p>
</section>
<section id="changing-human-nature" class="slide level1">
<h1>changing human nature</h1>
<p>He who dares undertake to give institutions to a nation ought to feel himself capable, as it were, of changing human nature; of transforming every individual, who in himself is a complete and independent whole, into part of a greater whole, from which he receives in some manner his life and his being; of altering man’s constitution in order to strengthen it; of sub- stituting a social and moral existence for the independent and physical existence which we have all received from nature. In a word, it is necessary to deprive man of his native powers in order to endow him with some which are alien to him, and of which he cannot make use without the aid of other people. The more thoroughly those natural powers are deadened and de- stroyed, the greater and more durable are the acquired powers, and the more solid and perfect also are the institutions; so that if every citizen is nothing, and can be nothing, except in combination with all the rest, and if the force acquired by the whole be equal or superior to the sum of the natural forces of all the individuals, we may say that legislation is at the highest point of perfection which it can attain.</p>
</section>
<section id="book-1-chapter-8-on-the-civil-state-page" class="slide level1">
<h1>Book 1, chapter 8, on the civil state (page )</h1>
<p>“This passage from the state of nature to the civil state produces a remarkable change in man, by substituting justice for instinct in his behavior and giving his actions the morality they previously lacked. Only then, when the voice of duty replaces physical impulse and right replaces appetite, does man, who until that time only considered himself, find himself forced to act upon other principles and to consult his reason before heeding his inclinations. Although in this state he deprives himself of several advantages given him by nature, he gains such great ones, his faculties are exercised and developed, his ideas broadened, his feelings ennobled, and his whole soul elevated to such a point that if the abuses of this new condition did not often degrade him beneath the condition he left, he ought ceaselessly to bless the happy moment that tore him away from it forever, and that changed him from a stupid, limited animal into an intelligent being and a man.”</p>
</section>
<section id="context-for-the-federalist-papers-178788" class="slide level1">
<h1>Context for the Federalist Papers (1787—88):</h1>
<p>1</p>
<p>Revolution (Ideology, Mobilization, Ferment)</p>
<p>2</p>
<p>Colonies (Institutions, Traditions, Interests, Constitutions)</p>
<p>3</p>
<p>Articles of Confederation (Continental Congress)</p>
<p>4</p>
<p>Constitutional Convention (with a limited charge. . . )</p>
</section>
<section id="interpretation-of-the-federalist-papers" class="slide level1">
<h1>Interpretation of the Federalist Papers</h1>
<p>1</p>
<p>A sales pitch for the proposed Constitution.</p>
<p>2</p>
<p>A user’s manual for the Constitution.</p>
<p>3</p>
<p>Contentious Debate (Federalist, Anti-Federalist, George Mason et al.)</p>
</section>
<section id="federalist-1" class="slide level1">
<h1>Federalist #1:</h1>
<p>“AFTER an unequivocal experience of the inefficiency of the subsisting federal government, you are called upon to deliberate on a new Constitution for the United States of America. The subject speaks its own importance; comprehending in its consequences nothing less than the existence of the UNION, the safety and welfare of the parts of which it is composed, the fate of an empire in many respects the most interesting in the world. It has been frequently remarked that it seems to have been reserved to the people of this country, by their conduct and example, to decide the important question, whether societies of men are really capable or not of establishing good government from reflection and choice, or whether they are forever destined to depend for their political constitutions on accident and force.”</p>
</section>
<section id="continuing-in-the-next-paragraph.-.-." class="slide level1">
<h1>Continuing in the next paragraph. . .</h1>
<p>“This idea will add the inducements of philanthropy to those of patriotism, to heighten the solicitude which all considerate and good men must feel for the event. Happy will it be if our choice should be directed by a judicious estimate of our true interests, unperplexed and unbiased by considerations not connected with the public good. But this is a thing more ardently to be wished than seriously to be expected. The plan offered to our deliberations affects too many particular interests, innovates upon too many local institutions, not to involve in its discussion a variety of objects foreign to its merits, and of views, passions and prejudices little favorable to the discovery of truth.”</p>
</section>
<section id="federalist-9-small-republics-and-confederation" class="slide level1">
<h1>Federalist #9, small republics and confederation</h1>
<p>“A FIRM Union will be of the utmost moment to the peace and liberty of the States, as a barrier against domestic faction and insurrection. It is impossible to read the history of the petty republics of Greece and Italy without feeling sensations of horror and disgust at the distractions with which they were continually agitated, and at the rapid succession of revolutions by which they were kept in a state of perpetual vibration between the extremes of tyranny and anarchy. If they exhibit occasional calms, these only serve as short-lived contrast to the furious storms that are to succeed. If now and then intervals of felicity open to view, we behold them with a mixture of regret, arising from the reflection that the pleasing scenes before us are soon to be overwhelmed by the tempestuous waves of sedition and party rage.”</p>
</section>
<section id="continuing.-.-." class="slide level1">
<h1>#9 Continuing. . .</h1>
<p>“So far are the suggestions of Montesquieu from standing in opposition to a general Union of the States, that he explicitly treats of a CONFEDERATE REPUBLIC as the expedient for extending the sphere of popular government, and reconciling the advantages of monarchy with those of republicanism.”It is very probable,” (says he) “that mankind would have been obliged at length to live constantly under the government of a single person, had they not contrived a kind of constitution that has all the internal advantages of a republican, together with the external force of a monarchical government. I mean a CONFEDERATE REPUBLIC.”</p>
</section>
<section id="federalist-10" class="slide level1">
<h1>Federalist #10</h1>
<p>“AMONG the numerous advantages promised by a well-constructed Union, none deserves to be more accurately developed than its tendency to break and control the violence of faction.”</p>
</section>
<section id="questions-for-discussion" class="slide level1">
<h1>Questions for Discussion</h1>
<p>1</p>
<p>In Federalist No. 10, Madison defines “faction.” What is faction? What are its sources? What is its most important source? Why is it a problem? How can it be managed?</p>
</section>
<section id="a-faction-is" class="slide level1">
<h1>A faction is:</h1>
<p>By a faction, I understand a number of citizens, whether amounting to a majority or a minority of the whole, who are united and actuated by some common impulse of passion, or of interest, adversed to the rights of other citizens, or to the permanent and aggregate interests of the community.</p>
</section>
<section id="basis-in-property" class="slide level1">
<h1>Basis in Property:</h1>
<p>“The diversity in the faculties of men, from which the rights of property originate, is not less an insuperable obstacle to a uniformity of interests. The protection of these faculties is the first object of government. From the protection of different and unequal faculties of acquiring property, the possession of different degrees and kinds of property immediately results; and from the influence of these on the sentiments and views of the respective proprietors, ensues a division of the society into different interests and parties. The latent causes of faction are thus sown in the nature of man; and we see them everywhere brought into different degrees of activity, according to the different circumstances of civil society.”</p>
</section>
<section id="continuing-on-property" class="slide level1">
<h1>Continuing on Property:</h1>
<p>But the most common and durable source of factions has been the various and unequal distribution of property. Those who hold and those who are without property have ever formed distinct interests in society. Those who are creditors, and those who are debtors, fall under a like discrimination. A landed interest, a manufacturing interest, a mercantile interest, a moneyed interest, with many lesser interests, grow up of necessity in civilized nations, and divide them into different classes, actuated by different sentiments and views. The regulation of these various and interfering interests forms the principal task of modern legislation, and involves the spirit of party and faction in the necessary and ordinary operations of the government.</p>
</section>
<section id="controlling-its-effects" class="slide level1">
<h1>Controlling its effects:</h1>
<p>It is in vain to say that enlightened statesmen will be able to adjust these clashing interests, and render them all subservient to the public good. Enlightened statesmen will not always be at the helm. Nor, in many cases, can such an adjustment be made at all without taking into view indirect and remote considerations, which will rarely prevail over the immediate interest which one party may find in disregarding the rights of another or the good of the whole. The inference to which we are brought is, that the CAUSES of faction cannot be removed, and that relief is only to be sought in the means of controlling its EFFECTS.</p>
</section>
<section id="extend-the-sphere" class="slide level1">
<h1>Extend the Sphere:</h1>
<p>Extend the sphere, and you take in a greater variety of parties and interests; you make it less probable that a majority of the whole will have a common motive to invade the rights of other citizens; or if such a common motive exists, it will be more difficult for all who feel it to discover their own strength, and to act in unison with each other. . . Hence, it clearly appears, that the same advantage which a republic has over a democracy, in controlling the effects of faction, is enjoyed by a large over a small republic,–is enjoyed by the Union over the States composing it.</p>
</section>
<section id="more-questions-for-discussion" class="slide level1">
<h1>More Questions for Discussion</h1>
<p>1</p>
<p>Federalist No. 51 proposes a system of checks and balances. Why is this system necessary? What drives it? How does it work? Does it work today?</p>
<p>2</p>
<p>Compare and contrast the views of human nature, of law’s potential to change it, and the proper role of political power in Hobbes, Locke, Rousseau, and Publius.</p>
</section>
<section id="federalist-51" class="slide level1">
<h1>Federalist #51</h1>
<p>It is of great importance in a republic not only to guard the society against the oppression of its rulers, but to guard one part of the society against the injustice of the other part. Different interests necessarily exist in different classes of citizens. If a majority be united by a common interest, the rights of the minority will be insecure. There are but two methods of providing against this evil: the one by creating a will in the community independent of the majority that is, of the society itself; the other, by comprehending in the society so many separate descriptions of citizens as will render an unjust combination of a majority of the whole very improbable, if not impracticable. . . The second method will be exemplified in the federal republic of the United States. Whilst all authority in it will be derived from and dependent on the society, the society itself will be broken into so many parts, interests, and classes of citizens, that the rights of individuals, or of the minority, will be in little danger from interested combinations of the majority.</p>
</section>
<section id="government-of-men-not-angels" class="slide level1">
<h1>Government of men not angels</h1>
<p>If men were angels, no government would be necessary. If angels were to govern men, neither external nor internal controls on government would be necessary. In framing a government which is to be administered by men over men, the great difficulty lies in this: you must first enable the government to control the governed; and in the next place oblige it to control itself.</p>
</section>
<section id="immediately-before-angels" class="slide level1">
<h1>Immediately before angels:</h1>
<p>But the great security against a gradual concentration of the several powers in the same department, consists in giving to those who administer each department the necessary constitutional means and personal motives to resist encroachments of the others. The provision for defense must in this, as in all other cases, be made commensurate to the danger of attack. Ambition must be made to counteract ambition. The interest of the man must be connected with the constitutional rights of the place.</p>
</section>
